/* CONTENUS → Police Raleway via font-face */
@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Regular.woff2') format('woff2'),
         url('../assets/fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
h1, h2, h3, .titre {
    font-family: 'Lato', sans-serif;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
  }
  